{{#if Quest}}
    {{#each quests}}
        <div>
            <h1> {{ title }} </h1>
        </div>
        <div>
            <h2> {{ quest_giver }} </h2>
        </div>
        </div>
        <div>
            <h2> {{ rewards }} </h2>
        </div>
        </div>
        <div>
            <h2> {{ locations }} </h2>
        </div>
        
    {{/each}}
{{/if}}